@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";

}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }
</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
    <div class="about">
        <div class="about-title-background">
            <div class="about-title">
                <h1> About Us</h1>
                <p>
                    We are a professional agency providing customized security arrangements to the industrial, commercial, and business houses
                </p>
            </div>
        </div>

    </div>
    <div class="about-content">
        <div class="history " style="padding:10px 0 10px;">
            <div class="history-title">
                <h2> <i class="bi bi-clock-history"></i> History</h2>
            </div>
            <div class="history-content" style="padding: 0 40px 0 40px;">
                @if (ViewData["aboutus"] != null)
                {
                    var list = (List<SecurityService.Models.View.aboutusView>)ViewData["aboutus"];
                    foreach (var item in list)
                    {
                        @Html.Raw(item.where);
                    }
                }
            </div>

        </div>
        <div class="chairman" style="padding:10px 0 10px;">
            <div class="chairman-title">
                <h2><i class="bi bi-person"></i> Chairman's Profile</h2>
            </div>
            <div class="chairman-content">
                <img class="chairman" src="../img/man.png" />
                @if (ViewData["aboutus"] != null)
                {
                    var list = (List<SecurityService.Models.View.aboutusView>)ViewData["aboutus"];
                    foreach (var item in list)
                    {
                        @Html.Raw(item.when);
                    }
                }

            </div>
        </div>
        <div class="director" style="padding:10px 0 10px;">
            <div class="director-title">
                <h2> <i class="bi bi-people"></i> Board Of Directors </h2>
            </div>
            <div class="director-content">
                @*render director card*@
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $.ajax({
        type: 'get',
        url: 'http://localhost:54396/api/about_us_employee',
        dataType: 'json',
        contentType: 'application/json; charset=utf8',
        success: function (data) {
            $.each(data, function (index, value) {
                var rows = "";
                rows += "<div class='card'>"
                    + "<div class='imgText'>"
                    + "<div class='imgBx'>"
                    + "<img src='../img/" + value.img + "' />"
                    + "</div>"
                    + "<h5>" + value.name + "</h5>"
                    + "<p> Founder </p>"
                    + "</div>"
                    + "<ul class='contact-info'>"
                    + "<li><a href='#'><i class='bi bi-facebook' style='color:#3b5998'></i></a></li>"
                    + "<li><a href='#'><i class='bi bi-twitter' style='color: #1DA1F2;'></i></a></li>"
                    + "<li><a href='#'><i class='bi bi-instagram' style='color: #E1306C'></i></a></li>"
                    + "<li><a href='#'><i class='bi bi-linkedin' style='color:#2867B2'></i></a></li>"
                    + "</ul>"
                    + "</div>"
                $('.director-content').append(rows);
            });
        }
    })
</script>