@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Employee Page";
    Layout = "_layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }
    /* Style tab links */
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        outline: none !important;
        width: 33%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        display: none;
        padding: 100px 0px;
        height: 100%;
    }

    .pagination {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 12px 20px;
            font-size: 20px;
            text-decoration: none;
            cursor: pointer;
        }

        .pagination li.active {
            background-color: dodgerblue;
            color: white;
            border-radius: 50%;
        }

        .pagination li:hover:not(.active) {
            background-color: #ddd;
            border-radius: 50%;
        }

    .searchBox {
        position: relative;
        padding-bottom: 30px;
        text-align: center;
    }

        .searchBox input {
            padding: 10px;
            padding-left: 50px;
            border: none;
            font-size: 18px;
            position: relative;
            background: #f1f1f1;
            outline: none;
            width: 50%;
            border-radius: 30px;
            box-shadow: 1px 2px 3px #ddd;
        }

        .searchBox span {
            position: relative;
            z-index: 1;
            left: 40px;
            top: 0;
            fill: currentcolor;
        }

    .modalTask {
        display: none;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        transition: .2s ease-in-out;
    }

    .modalTask-detail {
        position: relative;
        background-color: #fefefe;
        padding: 40px;
        border-radius: 10px;
        border: 1px solid #888;
        width: 80%;
        top: 50%;
        z-index: 1;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }

    .modalTask-content {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .modalTask-title {
        position: relative;
        background: linear-gradient(to right, rgba(92,93,95,0.8), rgba(92,93,95,1));
        color: #fff;
        border-radius: 0px 0px 10px 10px;
        width: 150px;
        padding: 5px;
    }

    .modalTask-content .formBox:nth-child(2) {
        padding-left: 20px;
    }

    .task_box_content {
        position: relative;
        display: inline-grid;
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        text-align: center;
        width: 100%;
        grid-gap: 10px;
        
    }

    .task_box {
        position: relative;
        padding: 40px 0 40px;
        border-radius: 10px;
        color: #fff;
        background: linear-gradient(to right, rgba(92,93,95,0.8), rgba(92,93,95,1));
        box-shadow: 10px 15px 15px rgba(0,0,0,0.3);
        margin-bottom: 50px;
    }

    .task_box_number,
    .task_box_title {
        font-size: 20px;
    }

    .task_table_content {
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

        .task_table_content table {
            width: 100%;
            background: #f5f5f7;
            box-shadow: 3px 3px 9px #ddd;
        }

            .task_table_content table thead tr {
                height: 40px;
                border-bottom: 1px solid #ddd;
            }

            .task_table_content table tbody tr {
                height: 80px;
                border-bottom: 1px solid #ddd;
            }

    .started {
        background: green;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        border-radius: 20px;
    }

    .done {
        background: red;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        border-radius: 20px;
    }

    .progressing {
        background: #b1ac03;
        padding: 5px;
        border-radius: 20px;
        color: #fff;
        font-size: 14px;
    }

    .modalTask-reject {
        position: relative;
        left: 1000px;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>

<div class="container">
    <div class="tablink-content">
        <button class="tablink" onclick="openPage('Information', this)" id="defaultOpen"> Information </button>
        <button class="tablink" onclick="openPage('Employee', this)"> Employee Management </button>
        <button class="tablink" onclick="openPage('Task', this)"> Task Management </button>
    </div>

    <div id="Information" class="tabcontent">
        <div class="user_info">
            <h2> User Profile </h2>
            <div class="user_profile_content">
                <div class="user_profile_avatar">
                    <img src="../img/IMG_1939.JPG" id="avatar" />
                </div>
                <div class="user_profile_header">
                    <h4 id="name"> Nguyen Quoc Trung </h4><small style="padding:0px 10px 5px;" id="role"> hien role len day </small>
                </div>
                <p id="about"> hien introduce yourself (about me ) len day</p>
            </div>
        </div>
        <div class="user_info">
            <h2> User Information </h2>
            <div class="user_info_content">

                <div class="formBox">
                    <div class="inputBox-2 w50">
                        <input type="text" value="20" id="age" disabled />
                        <label> Age  </label>
                    </div>
                    <div class="inputBox-2 w50">
                        <input type="text" value="70kg" id="weight" disabled />
                        <label> Weight  </label>
                    </div>
                    <div class="inputBox-2 w50">
                        <input type="text" value="1.8m" id="height" disabled />
                        <label> Height  </label>
                    </div>

                    <div class="inputBox-2 w50">
                        <input type="tel" value="123456789" id="phone" disabled />
                        <label> Phone No. </label>
                    </div>
                    <div class="inputBox-2 w50">
                        <input type="email" value="trungchicken@gmail.com" id="email" disabled />
                        <label>  Email  </label>
                    </div>

                    <div class="inputBox-2 w100">
                        <textarea disabled id="achivement"> asdsadsdasdsd </textarea>
                        <label> Achivement </label>
                    </div>
                    <div class="inputBox-2 w100">
                        <textarea disabled id="address"> 22 phan liem </textarea>
                        <label> Address  </label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="Employee" class="tabcontent">
        <!-- The Modal -->
        <div class="modalTask" id="myModalTask-1">

            <div class="modalTask-detail">
                <div class="modalTask-title">
                    <h1> Giving Task </h1>
                </div>
                <div class="modalTask-content">
                    <div class="formBox">
                        <div class="inputBox-2 w50">
                            <input type="text" id="nametask_send" />
                            <label> Name Task </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <select id="task_main_send">
                                <option value="value">Giet No</option>
                                <option value="value">dap chet me no</option>
                                <option value="value">suc no</option>
                            </select>

                            <label> Task Main </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="time" id="start_time_send" />
                            <label> Time From </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="time" id="end_time_send" />
                            <label> Time to </label>
                        </div>
                        <input type="hidden" id="id_employee_send"/>
                        <div class="inputBox-2 w50">
                            <input type="date" id="start_day_send" />
                            <label> Date From </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="date" id="end_day_send" />
                            <label> Date To </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="text" readonly id="employee_send" />
                            <label> Employee Recive </label>
                        </div>
                    </div>
                    <div class="formBox">
                        <div class="inputBox-2 w100">
                            <textarea id="description_send"> </textarea>
                            <label> Description  </label>
                        </div>
                        <div class="inputBox-2 w100">
                            <textarea id="address_send"></textarea>
                            <label> Address </label>
                        </div>
                    </div>
                </div>

                <div class="modalTask-end">
                    <input class="myBtn" type="button" id="send_task" value="Send"/>
                </div>
            </div>

        </div>

        <div class="searchBox">
            <div class="input"></div>
            <span id="searchBox_span"><i class="bi bi-search"></i></span>
            <input type="text" placeholder="Search.." name="search">
            <button class="myBtn" type="submit"><i class="bi bi-search"></i></button>
        </div>

        <div class="director-content" id="listEmp">
            @*<div class='card'>
                <div class='imgText'>
                    <div class='imgBx'>
                        <img src='../img/IMG_1939.JPG' />
                    </div>
                    <h5> Nguyen Quoc Trung</h5>
                    <p>  role  </p>
                    <button class="myBtn openModal-1 "><i class="bi bi-calendar-plus"></i> Add Task</button>
                </div>
            </div>
            <div class='card'>
                <div class='imgText'>
                    <div class='imgBx'>
                        <img src='../img/IMG_1939.JPG' />
                    </div>
                    <h5> Nguyen Quoc Trung</h5>
                    <p>  role  </p>
                    <button class="myBtn openModal-1 "><i class="bi bi-calendar-plus"></i> Add Task</button>
                </div>

            </div>
            <div class='card'>
                <div class='imgText'>
                    <div class='imgBx'>
                        <img src='../img/IMG_1939.JPG' />
                    </div>
                    <h5> Nguyen Quoc Trung</h5>
                    <p>  role  </p>
                    <button class="myBtn openModal-1 "><i class="bi bi-calendar-plus"></i> Add Task</button>
                </div>

            </div>
            <div class='card'>
                <div class='imgText'>
                    <div class='imgBx'>
                        <img src='../img/IMG_1939.JPG' />
                    </div>
                    <h5> Nguyen Quoc Trung</h5>
                    <p>  role  </p>
                    <button class="myBtn openModal-1 "><i class="bi bi-calendar-plus"></i> Add Task</button>
                </div>

            </div>
            <div class='card'>
                <div class='imgText'>
                    <div class='imgBx'>
                        <img src='../img/IMG_1939.JPG' />
                    </div>
                    <h5> Nguyen Quoc Trung</h5>
                    <p>  role  </p>
                    <button class="myBtn openModal-1 "><i class="bi bi-calendar-plus"></i> Add Task</button>
                </div>

            </div>
            <div class='card'>
                <div class='imgText'>
                    <div class='imgBx'>
                        <img src='../img/IMG_1939.JPG' />
                    </div>
                    <h5> Nguyen Quoc Trung</h5>
                    <p>  role  </p>
                    <button class="myBtn openModal-1 "><i class="bi bi-calendar-plus"></i> Add Task</button>
                </div>

            </div>*@
        </div>
        <ul class="pagination">
            <li class="prev">
                <a aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active">
                <a onclick="Skip(2,1)">1</a>
            </li>
            <li>
                <a onclick="Skip(2, 2)">2</a>
            </li>
            <li>
                <a>3</a>
            </li>
            <li>
                <a>4</a>
            </li>
            <li>
                <a>5</a>
            </li>
            <li class="next">
                <a aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="Task" class="tabcontent">
        <!-- The Modal -->
        <div class="modalTask" id="myModalTask-2">
            <!-- Modal content -->
            <div class="modalTask-detail">
                <div class="modalTask-title">
                    <h1> View Task </h1>
                </div>
                @*modal task accept*@
                <div class="modalTask-accept">
                    <div class="modalTask-content">
                        <div class="formBox">
                            <div class="inputBox-2 w100">
                                <input type="text" id="name_task" readonly />
                                <label> Name Task </label>
                            </div>
                            <input type="hidden" name="idTask" id="idTask_started" />
                            <div class="inputBox-2 w50">
                                <input type="time" id="time_start" readonly />
                                <label> Time From </label>
                            </div>
                            <div class="inputBox-2 w50">
                                <input type="time" id="time_end" readonly />
                                <label> Time to </label>
                            </div>
                            <div class="inputBox-2 w50">
                                <input type="date" id="stard_day" readonly />
                                <label> Date From </label>
                            </div>
                            <div class="inputBox-2 w50">
                                <input type="date" id="end_day" readonly />
                                <label> Date To </label>
                            </div>
                        </div>
                        <div class="formBox">
                            <div class="inputBox-2 w100">
                                <textarea id="description" readonly> </textarea>
                                <label> Description  </label>
                            </div>
                            <div class="inputBox-2 w100">
                                <textarea id="task_address" readonly></textarea>
                                <label> Address </label>
                            </div>
                        </div>
                    </div>
                    <div class="modalTask-end">
                        <button class="myBtn" id="claim"> Claim <i class="bi bi-check2-circle"></i> </button>
                        <button class="myBtn" id="reject"> Reject <i class="bi bi-calendar-x"></i></button>
                    </div>

                </div>
                @*modal task reject*@
                <div class="modalTask-reject" style="display:none;">
                    <div class="modalTask-content">
                        <div class="formBox">
                            <div class="inputBox-2 w100">
                                <input type="text" id="nameTask_reject"/>
                                <label> Name Task </label>
                            </div>
                            <input type="hidden" name="idTask" id="idTask_reject"/>
                            <div class="inputBox-2 w100">
                                <textarea id="reason_reject"> </textarea>
                                <label> Reason   </label>
                            </div>
                        </div>

                    </div>
                    <div class="modalTask-end">
                        <button class="myBtn" id="back"> <i class="bi bi-arrow-left"></i> Back </button>
                        <button class="myBtn"> Send Reject <i class="bi bi-calendar-x"></i> </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="task_box_content">
            <div class="task_box">
                <div class="task_box_title"> Total Task</div>
                <span class="task_box_number"> 5 </span>
            </div>
            <div class="task_box">
                <div class="task_box_title"> Task Progrossing</div>
                <span class="task_box_number"> 5 </span>
            </div>
            <div class="task_box">
                <div class="task_box_title"> Task Done</div>
                <span class="task_box_number"> 5 </span>
            </div>
        </div>
        @*task table*@
        <h1> Task Started Table </h1>
        <div class="task_table_content">
            <table>
                <thead>
                    <tr>
                        <th> No.</th>
                        <th>Task Name</th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody id="taskOfAdmin">
                    @*render data here*@
                </tbody>
            </table>
        </div>
        @*task with employee table*@
        <h1> Task Progressing Table </h1>
        <div class="task_table_content">
            <table>
                <thead>
                    <tr>
                        <th> No.</th>
                        <th>Task Name</th>
                        <th>Employee Name  </th>
                        <th> Status </th>

                    </tr>
                </thead>
                <tbody id="taskInProgress">
                    @*render data here*@
                </tbody>
            </table>
        </div>
        @*task with employee table*@
        <h1> Task Done Table </h1>
        <div class="task_table_content">
            <table>
                <thead>
                    <tr>
                        <th> No.</th>
                        <th>Task Name</th>
                        <th>Employee Name  </th>
                        <th> Status </th>

                    </tr>
                </thead>
                <tbody id="taskDone">
                    @*render data here*@
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var modal1 = document.getElementById("myModalTask-1");
    var modalTaskAccept = document.querySelector('.modalTask-accept');
    var modalTaskReject = document.querySelector('.modalTask-reject');
    var modal2 = document.getElementById("myModalTask-2");
    var swiperContainer = document.querySelector('.swiper-container2');

    var span = document.getElementsByClassName("close")[0];

    var IdTeam = 0;
    var username = sessionStorage.getItem('username');
    if (username == null) {
        window.location.href = "@Url.Action("index","login")";
    }
    if (username != "") {
        $('#Information').css('display', 'block');
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/employees/getUsername/' + username,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, value) {
                    getEmployeeByTeam(value.id_team);
                    load_task_of_admin(value.id_team);
                    load_task_inprogress(value.id_team);
                    load_task_done(value.id_team);
                    load_cb_main_task(value.id_team, "InProgress");

                    var linkImg = '../img/EmployeeImg/' + value.image;
                    $('#avatar').prop('src', linkImg);
                    $('#name').html(value.name);
                    $('#role').html(value.role);
                    $('#about').html(value.aboutme);
                    $('#weight').val(value.weight);
                    $('#height').val(value.height);
                    $('#email').val(value.email);
                    $('#phone').val(value.phone);
                    $('#achivement').val(value.achivement);
                    $('#address').val(value.address);
                });
            }
        })
    }
    $('#send_task').click(function (data) {
        var name_task = $('#nametask_send').val();
        var employee = $('#employee_send').val();
        var start_time = $('#start_time_send').val();
        var end_time = $('#end_time_send').val();
        var start_day = $('#start_day_send').val();
        var end_day = $('#end_day_send').val();
        var description = $('#description_send').val();
        var address = $('#address_send').val();

        var id_employee = $('#id_employee_send').val();
        var task_main = $('#task_main_send').val();
        if (task_main == 'none') {
            alert('Please choose main task');
        } else {
            if (name_task != "" && start_time != "" && end_time != "" && start_day != "" && end_day != "" && description != "" && address != "" && task_main != "none") {
                var newT = new Object();
                newT.task_main = task_main;
                newT.employee = id_employee;
                newT.task_name = name_task;
                newT.description = description;
                newT.start_time = start_time;
                newT.end_time = end_time;
                newT.task_status = 1;
                newT.start_day = start_day;
                newT.end_day = end_day;

                var task_employee = JSON.stringify(newT);

                $.ajax({
                    type: 'post',
                    url: 'http://localhost:54396/api/task_employee',
                    data: task_employee,
                    contentType: 'application/json; charset=utf8',
                    dataType: 'json',
                    success: function (data) {
                        alert("Send task success");
                        $('#nametask_send').val("");
                        $('#employee_send').val("");
                        $('#start_time_send').val("");
                        $('#end_time_send').val("");
                        $('#task_main_send').val('none');
                        $('#start_day_send').val("");
                        $('#end_day_send').val("");
                        $('#description_send').val("");
                        $('#address_send').val("");
                    }
                })
            } else {
                alert("Please enter full information!!");
            }
        }
        
    })
    var search = document.getElementById("searchBox_span");
    function load_cb_main_task(team, status) {
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/tasks/getTaskByTeamAndStatus/' + team + "," + status,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            success: function (data) {
                var rows = "<select id='task_main_send'><option value='none'>Choose Task</option>";
                $.each(data, function (index, value) {
                    rows += "<option value='" + value.id + "'>" + value.name + "</option>";
                });
                rows += "</select>";
                $('#task_main_send').replaceWith(rows);
            }
        })
    }
    // When the user clicks anywhere outside of the modal, close it.

    window.onclick = function (event) {
        if (event.target == modal1) {
            modal1.style.display = "none";
            document.body.style.removeProperty("overflow");
            search.style.zIndex = "1";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
            document.body.style.removeProperty("overflow");
            search.style.zIndex = "1";
        }
    }
    function ViewTask(obj) {
        var modal = $(obj).attr('data-model');
        if (modal == 'modal1') {
            alert($(obj).attr('data-id'));
            modal1.style.display = "block";
            document.body.style.overflow = "hidden";
            search.style.zIndex = "0";
            $('#claim').css('display', 'block');
            $('#reject').css('display', 'block');
            var id = $(obj).attr('data-id');
            $('#id_employee_send').val(id);


        } else if (modal == 'modal2') {
            modal2.style.display = "block";
            document.body.style.overflow = "hidden";
            search.style.zIndex = "0";
            $('#claim').css('display', 'block');
            $('#reject').css('display', 'block');
        } else if (modal == 'modal3') {
            modal2.style.display = "block";
            document.body.style.overflow = "hidden";
            search.style.zIndex = "0";
            $('#claim').css('display', 'none');
            $('#reject').css('display', 'none');
        }

        var nameTask = $(obj).attr('data-nametask');
        $('#name_task').val(nameTask);

        var idtask = $(obj).attr('data-idtask');
        $('#idTask_started').val(idtask);

        var start_day = "";
        var end_day = "";
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/tasks/' + idtask,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            success: function (data) {
                start_day += data.start_day;
                var b = start_day.split('T');
                $('#stard_day').val(b[0].toString());

                end_day += data.end_day;
                var c = end_day.split('T');
                $('#end_day').val(c[0].toString());

                $('#description').val(data.description);
                $('#task_address').val(data.location);
            }
        })
    }

    function getEmployeeByTeam(team) {
        IdTeam = team;
            $.ajax({
                type: 'get',
                url: 'http://localhost:54396/api/employees/getMember/' + team,
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                success: function (data) {
                    var rows = "<div class='director-content' id='listEmp'>";
                    $.each(data, function (index, value) {
                        rows += "<div class='card'>"
                            + "<div class='imgText'>"
                            + "<div class='imgBx'>"
                            + "<img src='../img/EmployeeImg/"+value.image+"' />"
                            + "</div>"
                            + "<h5>"+value.name+"</h5>"
                            + "<p>  "+value.role+"  </p>"
                            + "<button class='myBtn openModal-1' onclick='ViewTask(this)' data-model='modal1' data-id='"+value.id+"'><i class='bi bi-calendar-plus'></i> Add Task</button>"
                            + "</div>"
                            + "</div>";
                    });
                    rows += "</div>"
                    $('#listEmp').replaceWith(rows);
                }
            })
        }

        function load_task_of_admin(team) {
            $.ajax({
                type: 'get',
                url: 'http://localhost:54396/api/tasks/getTaskOpenByTeam/' + team,
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                success: function (data) {
                    if (data == "") {
                        var rows = "<tbody id='taskOfAdmin'>";
                        rows += "<td><span style='font-weight: bold;'>No Task</span></td>"
                            + "</tbody>";
                        $('#taskOfAdmin').replaceWith(rows);
                    } else {
                        var rows = "<tbody id='taskOfAdmin'>";
                        var count = 1;
                        $.each(data, function (index, value) {
                            rows += "<tr>"
                                + "<td>" + count + "</td>"
                                + "<td>" + value.name + "</td>"
                                + "<td> <span class='started'>" + value.status_name + "</span></td>"
                                + "<td>"
                                + "<button class='myBtn openModal-2' onclick='ViewTask(this);' data-model='modal2' data-idtask='" + value.id + "' data-nametask='" + value.name + "'><i class='bi bi-info-circle'></i> view</button>"
                                + "</td>"
                                + "</tr>";
                            count++;
                        });
                        rows += "</tbody>"
                        $('#taskOfAdmin').replaceWith(rows);
                    }

                }
            })
        }

    function load_task_inprogress(team) {
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/tasks/getTaskInProgressByTeam/' + team,
            contentType: 'application/json; charset=utf8',
            dataType: 'json'
        }).done(function (data) {
            if (data == "") {
                var rows = "<tbody id='taskInProgress'>";
                rows += "<td><span style='font-weight: bold;'>No Task</span></td>"
                    + "</tbody>";
                $('#taskInProgress').replaceWith(rows);
            } else {
                var rows = "<tbody id='taskInProgress'>";
                var count = 1;
                $.each(data, function (index, value) {
                    rows += "<tr>"
                        + "<td>" + count + "</td>"
                        + "<td>" + value.name + "</td>"
                        + "<td> <span class='progressing'>" + value.status_name + "</span></td>"
                        + "<td>"
                        + "<button class='myBtn openModal-2' onclick='ViewTask(this);' data-model='modal3' data-idtask='" + value.id + "' data-nametask='" + value.name + "'><i class='bi bi-info-circle'></i> view</button>"
                        + "</td>"
                        + "</tr>";
                    count++;
                });
                rows += "</tbody>"
                $('#taskInProgress').replaceWith(rows);
            }
        });
    }

    function load_task_done(team) {
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/tasks/getTaskDoneByTeam/' + team,
            contentType: 'application/json; charset=utf8',
            dataType: 'json'
        }).done(function (data) {
            if (data == "") {
                var rows = "<tbody id='taskDone'>";
                rows += "<td><span style='font-weight: bold;'>No Task</span></td>"
                    + "</tbody>";
                $('#taskDone').replaceWith(rows);
            } else {
                var rows = "<tbody id='taskDone'>";
                var count = 1;
                $.each(data, function (index, value) {
                    rows += "<tr>"
                        + "<td>" + count + "</td>"
                        + "<td>" + value.name + "</td>"
                        + "<td> <span class='done'>" + value.status_name + "</span></td>"
                        + "<td>"
                        + "<button class='myBtn openModal-2' onclick='ViewTask(this);' data-idtask='" + value.id + "' data-nametask='" + value.name + "'><i class='bi bi-info-circle'></i> view</button>"
                        + "</td>"
                        + "</tr>";
                    count++;
                });
                rows += "</tbody>"
                $('#taskDone').replaceWith(rows);
            }
        });
    }
    $('#reject').click(function (data) {
        var nametask = $('#name_task').val();
        $('#nameTask_reject').val(nametask);

        var idtask = $('#idTask_started').val();
        $('#idTask_reject').val(idtask);

        var reason = $('#reason').val();
    })
    $('#claim').click(function (data) {
        var idtask = $('#idTask_started').val();
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/tasks/Claim/' + idtask,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            success: function (data) {
                alert("Claim Success");
                load_task_of_admin(IdTeam);
                load_task_inprogress(IdTeam);
                load_task_done(IdTeam);
            }
        })
    })

        @*PageNumber();
        var TAKE = 3;
        Skip(TAKE, 1);
        function PageNumber() {
            $.ajax({
                type: 'get',
                url: 'http://localhost:54396/api/employees/CountEmployee',
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                success: function (data) {
                    var countPage = data / TAKE;
                    countPage = Math.ceil(countPage);
                    for (var i = 1; i <= countPage; i++) {
                        if (i == 1) {
                            var rows = "<li>"
                                + "<a onclick='Skip(" + TAKE + ", " + i + ")'>" + i + "</a>"
                                + "</li>";
                        } else {
                            var rows = "<li>"
                                + "<a onclick='Skip(" + TAKE + ", " + i + ")'>" + i + "</a>"
                                + "</li>";
                        }

                        $('.pagination').append(rows);
                    }

                }
            })
        }
        function Skip(row, page) {
            $.ajax({
                type: 'get',
                url: 'http://localhost:54396/api/employees/getEmployeeSkip/' + row + "," + page,
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                success: function (data) {
                    var rows = "<div class='director-content' id='listEmp'>";
                    $.each(data, function (index, value) {
                        rows += "<div class='card'>"
                            + "<div class='imgText'>"
                            + "<div class='imgBx'>"
                            + "<img src='../img/EmployeeImg/"+value.image+"' />"
                            + "</div>"
                            + "<h5>" + value.name + "</h5>"
                            + "<p>" + value.role + "</p>"
                            + "</div>"
                            + "</div>";
                    });
                    rows += "</div>";
                    $('#listEmp').replaceWith(rows);
                }
            })
        }*@
</script>