@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}
<style>
    
</style>
@* our service *@
<div class="module">
    <div class="module-content">
        <div class="service-title">
            <h1> Our Services</h1>
            <p> we happy serve you </p>
        </div>
        <div class="service-img">
        </div>
    </div>
</div>
<div class="module-service">
    <div class=" module-service-content">
        <div class="service-item">
            <p>The service portfolio of this division includes guarding, fire squad, dog squad, bodyguards etc. for industries, banks, retail outlets, residential colonies, hotels and institutions</p>
        </div>
        <div class="service-item">
            <p>
                The service range of the Cash Services division includes secured transfer of cash and valuables, ATM replenishment, Vaulting and Processing Services, multi-point cash collection and Caretaker Services
            </p>
        </div>
        <div class="service-item">
            <p>
                This division works in close alignment with multiple division of Star with an objective of recruiting training and delivering suitable manpower to meet their requirements.
            </p>
        </div>
        <div class="service-item">
            This division works in close association with SIS's strategic partners i.e. reputed system integrators & installers. The primary area of activity for this division is design, installation and maintenance of Access control systems, CCTVs, fire alarm systems, fire suppression systems, intruder/burglar alarms, perimeter protection systems, etc. The division aims at marketing its products to the existing customer base.
        </div>

    </div>
</div>

