@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}
<style>
</style>
@* our service *@
<div class="module">
    <div class="module-content fade ">
        <div class="service-title">
            <h1> Our Services</h1>
            <p> we happy serve you </p>
        </div>
        <div class="service-img">
        </div>
    </div>
</div>
<div class="module-service">
    <div class=" module-service-content ">
        <div class="service-item">
            @*background image*@
            <div class="service-item-background">
                <div style="position: relative;height: 100%;background: rgba(0,0,0,0.3);">
                    <h2> Manned Guarding </h2>
                    <div class="service-item-title-background">
                        <div class="service-item-title">
                            <h3> hello world</h3>
                            <a href="../MannedGuarding/Index" class="myBtn"> View more <i class="bi bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-item">
            @*background image*@
            <div class="service-item-background-1">
                <div style="position: relative;height: 100%;background: rgba(0,0,0,0.3);">
                    <h2> Electronic Security System </h2>
                    <div class="service-item-title-background">
                        <div class="service-item-title">
                            <h3> hello world</h3>
                            <a href="../MannedGuarding/Index" class="myBtn"> View more <i class="bi bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item">
            @*background image*@
            <div class="service-item-background-2">
                <div style="position: relative;height: 100%;background: rgba(0,0,0,0.3);">
                    <h2> Cash Service </h2>
                    <div class="service-item-title-background">
                        <div class="service-item-title">
                            <h3> hello world</h3>
                            <a href="../MannedGuarding/Index" class="myBtn"> View more <i class="bi bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="service-item">
            @*background image*@
            <div class="service-item-background-3">
                <div style="position: relative;height: 100%;background: rgba(0,0,0,0.3);">
                    <h2> Recruitment & Training </h2>
                    <div class="service-item-title-background">
                        <div class="service-item-title">
                            <h3> hello world</h3>
                            <a href="../MannedGuarding/Index" class="myBtn"> View more <i class="bi bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

