@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cash Service";
    Layout = "_Layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }

    .CashService {
        background: url(../img/cashService.jpeg);
        height: 50vh;
        background-size: 100% 100%;
    }

    .CashService-title-background {
        position: relative;
        height: 100%;
        background: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

    .CashService-title {
        position: relative;
        top: 50%;
        justify-content: center;
        transform: translate(0%, -50%);
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

        .CashService-title h1 {
            font-size: 70px;
            filter: drop-shadow(2px 0px 1px #fff);
        }

    .cash-in-transit img {
        padding-right: 25px;
        width: 400px;
        height: 200px;
        float: left;
        shape-outside: url(../img/cashService2.jpeg);
        shape-margin: 25px;
    }
</style>
<div style="padding:10px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Our Services</li>
            <li class="breadcrumb-item active" aria-current="page"> Cash Services </li>
        </ol>
    </nav>

    <div class="CashService">
        <div class="CashService-title-background">
            <div class="CashService-title">
                <h1> Cash Service </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="overview fade" style="padding-bottom:50px;">
        <h2> OVERVIEW</h2>
        <p>
            Star Security Cash Services, a joint venture with Prosegur of Spain, is the second largest cash logistics service provider in India.
            Through our varied service offerings pertaining to cash in transit, ATM-related, bullion and cash vaulting services, we cater to a diverse set of clients that includes leading banks, financial institutions, the organized retail industry and jewelry processing units.
        </p>
    </div>
    <div class="cash-in-transit fade" style="padding-bottom:50px;">
        <h2> Cash In Transit</h2>
        <img src="../img/cashService2.jpeg" />
        <p>
            <span style="font-size:32px; color:darkblue">W</span>ith one of the largest cash in transit fleet in India, SIS Prosegur Cash Services guarantees the best transport service in the market for movement of cash and valuables. SIS Prosegur’s fleet of secured vehicles, distributed across a vast network of local branches, guarantees extensive regional coverage and makes it possible to attend to any pickup and transport requirements.The valuables are transported in secured vehicles, which are specially fabricated. Our cash vans are installed with vehicle tracking system and are monitored and tracked by highly professional staff. SISProsegur is the largest provider of Cash in Transit Security Services across India. All cash vans are equipped with state of the art tracking system and are constantly monitored by professionals. We have expertise in safe and secure transportation of cash, coins and other valuables on behalf of our clients from one point to another.
        </p>
    </div>
    <div class="atm-service fade" style="padding-bottom:50px;">
        <h2> ATM SERVICES </h2>
        <p>
            Star Security Cash Services offers comprehensive ATM services through its widespread fleet network in 450 cities across 28 states and union territories.Apart from ATM replenishment, our other value added services for ATMs are: First Level Maintenance (FLM), cash balancing, audit and reconciliation. Our qualified maintenance and service personnel are available around the clock to attend to these services and are constantly supported by our control room with web based software to monitor calls and manage operations within agreed upon timelines. SIS Prosegur offers ATM cash processing, ATM cash balancing, ATM Vault Cash Services, ATM cash loading and ATM cash replenishment, ATM Services Provider.
        </p>
    </div>
    <div class="cash-vaulting fade" >
        <h2> CASH VAULTING & PROCESSING </h2>
        <p>
            Star Security Cash Services offers cash sorting and cash processing services at its various branches and customer’s premises, including bank branches, currency chests and retail outlets.
        </p>
    </div>
</div>
