
@{
    ViewData["Title"] = "All_Infor";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
}
@*content_employee*@
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="container" id="content_employee">
    <div class="manage_form"><h1>Manage Employee</h1></div>
    <div class="content_form">
        <div class="my_col_left">
            <div class="my_text_box">
                <div class="my_label">Name</div>
                <input type="text" name="name" id="input_name" />
                <span id="error_name"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Age</div>
                <input type="number" name="age" id="input_age" />
                <span id="error_age"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Weight</div>
                <input type="number" name="weight" id="input_weight" />
                <span id="error_weight"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Height</div>
                <input type="number" name="height" id="input_height" />
                <span id="error_height"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Phone</div>
                <input type="text" name="phone" id="input_phone" />
                <span id="error_phone"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Email</div>
                <input type="email" name="email" id="input_email" />
                <span id="error_email"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Address</div>
                <input type="text" name="address" id="input_address" />
                <span id="error_address"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Department</div>
                <select id="input_department">
                    <option value="none">Choose Department</option>
                </select>
                <span id="error_department"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Role</div>
                <select id="input_role">
                    <option value="none">Choose Role</option>
                </select>
                <span id="error_role"></span>
            </div>
        </div>
        <div class="my_col_right">
            <div class="my_text_box">
                <div class="my_label">Grade</div>
                <select id="input_grade">
                    <option value="none">Choose Grade</option>
                </select>
                <span id="error_grade"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Achivement</div>
                <input type="text" name="achivement" id="input_achivement" />
                <span id="error_achivement"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Speciality</div>
                <select id="input_speciality">
                    <option value="none">Choose Speciality</option>
                </select>
                <span id="error_speciality"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Price</div>
                <input type="number" name="price" id="input_price" />
                <span id="error_price"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">About Me</div>
                <input type="text" name="about_me" id="input_aboutme" />
                <span id="error_aboutme"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Username</div>
                <input type="text" name="username" id="input_username" />
                <span id="error_username"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Password</div>
                <input type="password" name="password" id="input_password" />
                <span id="error_password"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Confirm Password</div>
                <input type="password" name="cf_password" id="input_confirm" />
                <span id="error_confirm"></span>
            </div>
            <div class="my_text_box">
                <div class="my_label">Image</div>
                <input type="file" name="image" id="input_image" />
                <span id="error_image"></span>
            </div>
            <div class="my_text_box">
                <label style="color: black; font-size:15px;">Status</label>
                <input type="checkbox" name="status" id="employee_status" style="width: 15%;" />
            </div>
            <div class="my_text_box">
                <button type="button" onclick="add_employee();" class="btn_save" style="">Save</button>
                <button type="button" class="btn_edit" id="btn_edit">Edit</button>
                <button type="button" onclick="click_view_employee();" class="btn_view">View</button>
            </div>
        </div>
    </div>
</div>
@*View_Employee*@
<div class="container" id="view_table_employee" style="display:none;">
    <div class="content_search">
        <div style="height:30%;"></div>
        <div style="height:70%;">
            <label class="label_search">Search</label>
            <input type="text" name="search_employee" id="search_employee" style="width:20%; margin-right:2%;" placeholder="All Information" />
        </div>
    </div>
    <div class="content_table_view" style="height: 500px;">
        <div class="title_employee">
            <div class="title_table_employee" style="width:200px;">Name</div>
            <div class="title_table_employee" style="width:70px;">Age</div>
            <div class="title_table_employee" style="width:70px;">Weight</div>
            <div class="title_table_employee" style="width:70px;">Height</div>
            <div class="title_table_employee" style="width:200px;">Phone</div>
            <div class="title_table_employee" style="width:250px;">Email</div>
            <div class="title_table_employee" style="width:200px;">Address</div>
            <div class="title_table_employee" style="width:100px;">Deparment</div>
            <div class="title_table_employee" style="width:100px;">Role</div>
            <div class="title_table_employee" style="width:100px;">Grade</div>
            <div class="title_table_employee" style="width:200px;">Achivement</div>
            <div class="title_table_employee" style="width:100px;">Speciality</div>
            <div class="title_table_employee" style="width:70px;">Price</div>
            <div class="title_table_employee" style="width:200px;">About Me</div>
            <div class="title_table_employee" style="width:100px;">Username</div>
            <div class="title_table_employee" style="width:70px;">Status</div>
            <div class="title_table_employee" style="width:100px;">Active</div>
        </div>
        <div class="content_table_employee">
            <table id="my_table" style="width:2200px;">
                <tbody id="table_employee">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
@*content_feedback*@
<div class="container" id="content_feedback" style="display:none;">
    <div class="manage_form"><h1>Manage Feedback</h1></div>
    <div class="content_form">
        <div class="my_search">
            <div class="aa" style="height:30%">
            </div>
            <div style="height:70%">
                <label class="label_search">Search</label>
                <input style="width:20%; margin-right:10px;" type="text" name="search_feedback" placeholder="Name Client" id="search_feedback" />
            </div>
        </div>
        <div class="table_feedback">
            <div class="title_table">
                <div class="title_table_feedback">Name Client</div>
                <div class="title_table_feedback">Subject</div>
                <div class="title_table_feedback">Detail</div>
                <div class="title_table_feedback">Status</div>
                <div class="title_table_feedback">Active</div>
            </div>
            <div class="content_table">
                <table id="my_table" style="width:100%;">
                    <tbody id="table_feedback">
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*content_about_us*@
<div class="container" id="content_about_us" style="display:none;">
    <div class="my_col_left_aboutus">
        <div class="my_text_box" style="display:none;">
            <div class="my_label">Id</div>
            <input type="text" name="id_about_us" id="id_about_us" />
        </div>
        <form id="form_about_us">
            <div class="my_text_box">
                <div class="my_label">Where</div>
                <textarea id="where_aboutus" name="where_aboutus"></textarea>
            </div>
            <div class="my_text_box">
                <div class="my_label">When</div>
                <textarea id="when_aboutus" name="when_aboutus"></textarea>
            </div>
            <div class="my_text_box">
                <div class="my_label">How</div>
                <textarea id="how_aboutus" name="how_aboutus"></textarea>
            </div>
        </form>
        <div class="div_btn">
            <button type="button" onclick="btn_save_about_us();" id="div_btn_save_about_us" class="btn_save">Save</button>
            <button type="button" class="btn_edit" id="div_btn_edit_about_us" style="display:none;">Edit</button>
            <button onclick="view_about_us();" id="div_btn_view_about_us" class="btn_view">View</button>
        </div>
    </div>
    <div class="my_col_right_aboutus">
        <div style="position:absolute;top:32%;right:10%;"><span style="font-size:50px;">How</span></div>
        <div style="position:absolute;top:40%;right:17%;"><span style="font-size:25px;">To</span></div>
        <div style="position:absolute;top:43%;right:9%;"><span style="font-size:100px; border-bottom:5px solid;">Survive</span></div>
    </div>
</div>
@*view_table_about_us*@
<div class="container" id="view_table_about_us" style="display:none;">
    <div class="content_search">
        <div style="height:30%;"></div>
        <div style="height:70%;">
            <label class="label_search">Search</label>
            <input type="text" name="search_employee" id="search_view_about_us" placeholder="Chairman Profile" style="width:20%; margin-right:2%;" />
        </div>
    </div>
    <div class="content_table_view">
        <div class="table_region">
            <div class="title_table">
                <div class="title_table_about_us">Where</div>
                <div class="title_table_about_us">When</div>
                <div class="title_table_about_us">How</div>
                <div class="title_table_about_us">Active</div>
            </div>
            <div class="content_table">
                <table id="my_table_about_us" style="width:100%;">
                    <tbody id="table_view_about_us">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*content_region*@
<div class="container" id="content_region" style="display:none;">
    <div class="my_col_left_region">
        <div class="my_text_box">
            <div class="my_label">Name Region</div>
            <input type="text" name="name_region" id="name_region" />
        </div>
        <div class="my_text_box">
            <label class="my_label">Status</label>
            <input type="checkbox" name="status_region" id="status_region" />
        </div>
        <div class="div_btn">
            <button type="button" class="btn_save" onclick="btn_save_region();" id="btn_save_region">Save</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%;margin-right:10px;" placeholder="Name Region" id="search_region" />
            </div>
        </div>
        <div class="general_table">
            <div class="table_region" style=" height: 570px;">
                <div class="title_table">
                    <div class="title_table_region">Name Region</div>
                    <div class="title_table_region">Status</div>
                    <div class="title_table_region">Active</div>
                </div>
                <div class="content_table">
                    <table id="my_table" class="content_table_region">
                        <tbody id="table_region">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*content_department*@
<div class="container" id="content_department" style="display:none;">
    <div class="my_col_left_region">
        <div class="my_text_box">
            <div class="my_label">Name Department</div>
            <input type="text" name="name_department" id="name_department" />
        </div>
        <div class="my_text_box">
            <div class="my_label">Name Region</div>
            <select id="combobox_department">
                <option value="Department" id="Choose_id_Region">Choose Region</option>
                <option value="Department">Choose di</option>
                <option value="Department">Choose khikhi</option>
            </select>
        </div>
        <div class="my_text_box">
            <label class="my_label">Status</label>
            <input type="checkbox" name="status_department" id="status_department" />
        </div>
        <div class="div_btn">
            <button class="btn_save" onclick="add_department();" type="button">Save</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%; margin-right:10px;" id="search_department" placeholder="All Information"/>
            </div>
        </div>
        <div class="general_table">
            <div class="title_table">
                <div class="title_table_department">Name Department</div>
                <div class="title_table_department">Name Region</div>
                <div class="title_table_department">Status</div>
                <div class="title_table_department">Active</div>
            </div>
            <div class="content_table">
                <table id="my_table">
                    <tbody id="table_department">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*content_Client_management*@
<div class="container" id="content_client_management" style="display:none;">
    <div class="div_top" style="width:99%; height:10%;">
        <div style="height:14%;"></div>
        <div style="height:86%;">
            <ul id="ul_lient_management">
                <li id="Check_service"><span id="span_Check_service">Check Service</span></li>
                @*<li id="Transaction_history"><span id="span_Transaction_History">Transaction History</span></li>*@
                <li id="Comment"><span id="span_comment">Recruitment</span></li>
                <li id="Orders"><span id="span_orders">Orders</span></li>
            </ul>
        </div>

    </div>
    <div class="div_bottom" id="div_bottom">
        <div class="display_content_client" id="display_content_Check_service" style="background:#dddddd;">
            <div style="height:15%;">
                <div style="height:33%;"></div>
                <div style="height:67%;">
                    <label class="label_search">Search</label>
                    <input type="text" style="width:20%; margin-right:10px;" placeholder="All Information" id="search_client" />
                </div>
            </div>
            <div style="height:85%;">
                <div class="title_table">
                    <div class="title_table_client">Name Client</div>
                    <div class="title_table_client">Email Client</div>
                    <div class="title_table_client">Name Service</div>
                    <div class="title_table_client">Message</div>
                    <div class="title_table_client">Action</div>
                </div>
                <div class="content_table">
                    <table id="my_table_client">
                        <tbody id="table_check_service">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

@*        <div class="display_content_client" id="display_content_Transaction_history" style="background:#dddddd;">
            <div style="height:15%;">
                <div style="height:33%;"></div>
                <div style="height:67%;">
                    <label class="label_search">Search</label>
                    <input type="text" style="width:20%; margin-right:10px;" placeholder="All Information" id="search_history" />
                </div>
            </div>
            <div style="height:85%;">
                <div class="title_table">
                    <div class="title_table_history">Name Client</div>
                    <div class="title_table_history">Email Client</div>
                    <div class="title_table_history">Name Service</div>
                    <div class="title_table_history">Message</div>
                    <div class="title_table_history">Action</div>
                </div>
                <div class="content_table">
                    <table id="my_table_history">
                        <tbody id="table_history">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
*@
        <div class="display_content_client" id="display_content_Comment" style="background:#dddddd;">
            <div style="height:15%;">
                <div style="height:33%;"></div>
                <div style="height:67%;">
                    <label class="label_search">Search</label>
                    <input type="text" style="width:20%; margin-right:10px;" placeholder="All Information" id="search_recruitment" />
                </div>
            </div>
            <div style="height:85%;">
                <div class="title_table">
                    <div class="title_table_recruitment">Name</div>
                    <div class="title_table_recruitment">Age</div>
                    <div class="title_table_recruitment">Weight</div>
                    <div class="title_table_recruitment">Height</div>
                    <div class="title_table_recruitment">Phone</div>
                    <div class="title_table_recruitment">Achivement</div>
                    <div class="title_table_recruitment">CV</div>
                    <div class="title_table_recruitment">Action</div>
                </div>
                <div class="content_table">
                    <table id="my_table_recruitment">
                        <tbody id="table_recruitment">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="display_content_client" id="display_ordrers" style="background:#dddddd;">
            <div style="height:5%;"></div>
            <div style="height:95%;">
                <div style="width:100%; height:100%;">
                    <div style="width:35%;  height: 100%; float:left;">
                        <div style="width:100%;">
                            <div style="width:10%; float:left; color:#dddddd;">a</div>
                            <div style="width:90%; float:left;">
                                <div class="my_text_box" style="display:none;">
                                    <div class="my_label">Id_client</div>
                                    <input type="text" name="id_client" id="id_client" />
                                </div>
                                <div class="my_text_box" style="display:none;">
                                    <div class="my_label">Id Request</div>
                                    <input type="text" name="id_request" id="id_request" />
                                </div>
                                <form id="form_orders">
                                    <div class="my_text_box">
                                        <div class="my_label">Name Client</div>
                                        <input type="text" name="name_client" id="name_client" readonly />
                                    </div>
                                    <div class="my_text_box">
                                        <div class="my_label">Email Client</div>
                                        <input type="text" name="email_client" id="email_client" readonly />
                                    </div>
                                    <div class="my_text_box">
                                        <div class="my_label">Phone Client</div>
                                        <input type="text" name="phone_client" id="phone_client" readonly />
                                    </div>
                                    <div class="my_text_box">
                                        <div class="my_label">Name Service</div>
                                        <select id="select_service">
                                        </select>
                                    </div>
                                    <div class="my_text_box">
                                        <div class="my_label">Name Speciality</div>
                                        <select id="select_speciality">
                                        </select>
                                    </div>
                                    <div class="my_text_box">
                                        <div class="my_label">Name Employee</div>
                                        <select id="select_employee">
                                        </select>
                                    </div>
                                </form>
                                <div class="my_text_box" style="margin-top:10px;">
                                    <button type="button" onclick="save_orders();" class="btn_save" style="">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:65%;height:100%; float:left;">
                        <div style="width:100%;height:100%;">
                            <div style="height:10%;width:100%;">
                                <div style="width:20%; float:left; color:#dddddd;">a</div>
                                <div style="width:60%; float:left; text-align:center;">
                                    <h2>Transaction History</h2>
                                </div>
                                <div style="width:20%;float:left; color:#dddddd;">a</div>
                            </div>
                            <div style="height:10%;">
                                <input type="text" style="margin-bottom:5px;width:30%" placeholder="Search" id="search_orderdetail" />
                            </div>
                            <div style="height:80%;">
                                <div style="width:750px;height:100%">
                                    <div class="title_table">
                                        <div class="title_table_orderdetail" style="width:150px;">Name Client</div>
                                        <div class="title_table_orderdetail" style="width: 150px;">Phone Client</div>
                                        <div class="title_table_orderdetail" style="width: 150px;">Name Employee</div>
                                        <div class="title_table_orderdetail" style="width: 100px;">Date</div>
                                        <div class="title_table_orderdetail" style="width: 100px;">Total</div>
                                        <div class="title_table_orderdetail" style="width: 100px;">Action</div>
                                    </div>
                                    <div class="content_table" style="height:83%;width:750px;">
                                        <table id="my_table_orderdetail">
                                            <tbody id="table_orderdetail">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*content_service*@
<div class="container" id="content_service" style="display:none;">

    <div class="my_col_left_region">
        <form id="form_service">
            <div class="my_text_box" style="display:none;">
                <div class="my_label">Id</div>
                <input type="text" name="id_service" id="id_service" />
            </div>
            <div class="my_text_box">
                <div class="my_label">Name Service</div>
                <input type="text" name="name_service" id="name_service" />
            </div>
            <div class="my_text_box">
                <div class="my_label">Price</div>
                <input type="text" name="price_service" id="price_service" />
            </div>
            <div class="my_text_box">
                <div class="my_label">How</div>
                <textarea id="description_service" name="description_service"></textarea>
            </div>
            <div class="my_text_box">
                <label class="my_label">Status</label>
                <input type="checkbox" name="status_service" id="status_service" />
            </div>
        </form>
        <div class="div_btn" id="div_btn_save_service">
            <button type="submit" id="btn_save_service" class="btn_save">Save</button>
        </div>
        <div class="div_btn" id="div_btn_edit_service" style="display:none;">
            <button type="button" class="btn_edit" id="btn_edit_service">Edit</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%; margin-right:10px;" placeholder="Name or Price" id="search_service" />
            </div>
        </div>
        <div class="general_table">
            <div class="title_table">
                <div class="title_table_service">Name</div>
                <div class="title_table_service">Price</div>
                <div class="title_table_service">Description</div>
                <div class="title_table_service">Status</div>
                <div class="title_table_service">Active</div>
            </div>
            <div class="content_table">
                <table id="my_table_service">
                    <tbody id="table_service">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*content_trainning*@
<div class="container" id="content_trainning" style="display:none;">
    <div class="my_col_left_region">
        <form id="form_trainning">
            <div class="my_text_box" style="display:none;">
                <div class="my_label">Id</div>
                <input type="text" name="id_trainning" id="id_trainning" />
            </div>
            <div class="my_text_box">
                <div class="my_label">Name Trainning</div>
                <input type="text" name="name_trainning" id="name_trainning" />
            </div>
            <div class="my_text_box">
                <div class="my_label">Detail</div>
                <div>
                    <textarea id="detail_trainning" name="detail_trainning"></textarea>
                </div>
            </div>
            <div class="my_text_box">
                <div class="my_label">Duration</div>
                <select id="select_duration" name="select_duration">
                    <option value="Choose_Duration" id="Choose_Duration">Choose_Duration</option>
                    <option value="1 Month" data-value="1 Month">1 Month</option>
                    <option value="2 Month" data-value="2 Month">2 Month</option>
                    <option value="3 Month" data-value="3 Month">3 Month</option>
                </select>
            </div>
            <div class="my_text_box">
                <div class="my_label">Trainer</div>
                <input type="text" name="trainer_trainning" id="trainer_trainning" />
            </div>

            <div class="my_text_box">
                <label class="my_label">Status</label>
                <input type="checkbox" name="status_trainning" id="status_trainning" />
            </div>
        </form>
        <div class="div_btn" id="div_btn_save_trainning">
            <button type="button" class="btn_save">Save</button>
        </div>
        <div class="div_btn" id="div_btn_edit_trainning" style="display:none;">
            <button type="button" onclick="btn_edit_trainning();" class="btn_edit">Edit</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%; margin-right:10px;" id="search_trainning" placeholder="Name" />
            </div>
        </div>
        <div class="general_table">
            <div class="title_table">
                <div class="title_table_trainning">Name</div>
                <div class="title_table_trainning">Detail</div>
                <div class="title_table_trainning">Duration</div>
                <div class="title_table_trainning">Trainer</div>
                <div class="title_table_trainning">Status</div>
                <div class="title_table_trainning">Active</div>
            </div>
            <div class="content_table">
                <table id="my_table_trainning">
                    <tbody id="table_trainning">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*content_chart_employee*@
<div class="container" id="content_chart_employee" style="display:none; width:98%;">
    <div class="content_chart" id="content_chart_employees"></div>
</div>
@*content_role*@
<div class="container" id="content_role" style="display:none;">
    <div class="my_col_left_region">

        <div class="my_text_box" style="display:none;">
            <div class="my_label">Id</div>
            <input type="text" name="id_role" id="id_role" />
        </div>
        <form id="form_role">
            <div class="my_text_box">
                <div class="my_label">Name Role</div>
                <input type="text" name="name_role" id="name_role" />
            </div>
        </form>
        <div class="my_text_box">
            <label class="my_label">Status</label>
            <input type="checkbox" name="status_role" id="status_role" />
        </div>
        <div class="div_btn" id="div_btn_save_role">
            <button type="button" class="btn_save" onclick="btn_save_role();" id="btn_save_role">Save</button>
        </div>
        <div class="div_btn" id="div_btn_edit_role" style="display:none;">
            <button type="button" class="btn_edit" id="btn_edit_roles">Edit</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%;margin-right:10px;" placeholder="Name Role" id="search_role" />
            </div>
        </div>
        <div class="general_table">
            <div class="table_region">
                <div class="title_table">
                    <div class="title_table_role">Name Role</div>
                    <div class="title_table_role">Status</div>
                    <div class="title_table_role">Active</div>
                </div>
                <div class="content_table" id="content_table_role">
                    <table id="my_table_role">
                        <tbody id="table_role">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*content_grade*@
<div class="container" id="content_grade" style="display:none;">
    <div class="my_col_left_region">
        <div class="my_text_box" style="display:none;">
            <div class="my_label">Id</div>
            <input type="text" name="id_grade" id="id_grade" />
        </div>
        <form id="form_grade">
            <div class="my_text_box">
                <div class="my_label">Name Grade</div>
                <input type="text" name="name_grade" id="name_grade" />
            </div>
        </form>
        <div class="my_text_box">
            <label class="my_label">Status</label>
            <input type="checkbox" name="status_grade" id="status_grade" />
        </div>
        <div class="div_btn" id="div_btn_save_grade">
            <button type="button" class="btn_save" onclick="btn_save_grade();" id="btn_save_grade">Save</button>
        </div>
        <div class="div_btn" id="div_btn_edit_grade" style="display:none;">
            <button type="button" class="btn_edit" id="btn_edit_grade">Edit</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%;margin-right:10px;" placeholder="Name Grade" id="search_grade" />
            </div>
        </div>
        <div class="general_table">
            <div class="table_region">
                <div class="title_table">
                    <div class="title_table_grade">Name Grade</div>
                    <div class="title_table_grade">Status</div>
                    <div class="title_table_grade">Active</div>
                </div>
                <div class="content_table" id="content_table_grade">
                    <table id="my_table_grade">
                        <tbody id="table_grade">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*content_Speciality*@
<div class="container" id="content_speciality" style="display:none;">
    <div class="my_col_left_region">
        <div class="my_text_box" style="display:none;">
            <div class="my_label">Id</div>
            <input type="text" name="id_speciality" id="id_speciality" />
        </div>
        <form id="form_speciality">
            <div class="my_text_box">
                <div class="my_label">Name Speciality</div>
                <input type="text" name="name_speciality" id="name_speciality" />
            </div>
        </form>
        <div class="my_text_box">
            <label class="my_label">Status</label>
            <input type="checkbox" name="status_speciality" id="status_speciality" />
        </div>
        <div class="div_btn" id="div_btn_save_speciality">
            <button type="button" class="btn_save" onclick="btn_save_speciality();" id="btn_save_speciality">Save</button>
        </div>
        <div class="div_btn" id="div_btn_edit_speciality" style="display:none;">
            <button type="button" class="btn_edit" id="btn_edit_speciality">Edit</button>
        </div>
    </div>
    <div class="my_col_right_region">
        <div class="general_search">
            <div style="height:33%;"></div>
            <div style="height:67%;">
                <label class="label_search">Search</label>
                <input type="text" style="width:30%;margin-right:10px;" placeholder="Name Speciality" id="search_speciality" />
            </div>
        </div>
        <div class="general_table">
            <div class="table_region">
                <div class="title_table">
                    <div class="title_table_speciality">Name Speciality</div>
                    <div class="title_table_speciality">Status</div>
                    <div class="title_table_speciality">Active</div>
                </div>
                <div class="content_table" id="content_table_speciality">
                    <table id="my_table_speciality">
                        <tbody id="table_speciality">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*content_task*@
<div class="container" id="content_task" style="display:none;">
    <div style="float: left; width: 15%; height: 100%;"></div>
    <div class="left_task">
        <div style="height:10%;"></div>
        <div class="tb_task">
            <div class="my_label">Name</div>
            <input type="text" id="name_task" name="name_task" />
        </div>
        <div class="tb_task">
            <div class="my_label">Star Day</div>
            <input type="date" id="star_day" name="name_task" />
        </div>
        <div class="tb_task">
            <div class="my_label">End Day</div>
            <input type="date" id="end_day" name="end_day" />
        </div>
        <div class="tb_task">
            <div class="my_label">Location</div>
            <textarea id="location" style="width: 393px; height: 172px;">
`           </textarea>
        </div>
        <div class="tb_task">
            <label style="color:black;font-size:18px;margin:0;">Status</label>
            <input type="checkbox" style="width:20%;" />
        </div>
        <div class="tb_task">
            <button class="btn_save">Send</button>
        </div>

    </div>
    <div style="float: left; width: 10%; height: 100%;"></div>
    <div class="right_task">
        <div style="height:10%;"></div>
        <div class="tb_task">
            <div class="my_label">Request Client</div>
            <select id="select_request">
            </select>
        </div>
        <div class="tb_task">
            <div class="my_label">Name Team</div>
            <select id="select_team">
            </select>
        </div>
        <div class="tb_task">

        </div>

        <div class="tb_task">
            <div class="my_label">Description</div>
            <textarea id="description_task" style="width: 393px; height: 233px;">

`           </textarea>
        </div>
        
    </div>
    <div style="float: left; width: 15%; height: 100%;"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
</script>
