<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Admin_css.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container_admin">
        @*Menu_admin*@
        <div class="col_left">
            <div class="logo_my_team">
                <div class="image_my_team">
                    <img class="my_logo" src="~/img/logoResize.png" alt="Alternate Text" />
                    <h3 style="color:#ffffff;margin-top:3px;">TPPK_SERVICE</h3>
                </div>
            </div>
            <div class="btn_menu">
                <ul class="btn_menu_admin">
                    <li id="li_employee" onclick="click_content_employee();">Empolyee</li>
                    <li id="li_feedback" onclick="click_content_feedback();">Feedback</li>
                    <li id="li_about_us" onclick="click_content_about_us();">About Us</li>
                    <li id="li_region" onclick="click_content_Region();">Region</li>
                    <li id="li_department" onclick="click_content_Department();">Department</li>
                    <li id="li_client_management" onclick="click_content_client_management();">Client Management</li>
                    <li id="li_service" onclick="click_content_service();">Service</li>
                    <li id="li_trainning" onclick="click_content_trainning();">Trainning</li>
                    <li id="li_chart" onclick="click_content_chart_employee();">Chart Employee</li>
                    <li id="li_role" onclick="click_content_role();">Role</li>
                    <li id="li_speciality" onclick="click_content_speciality();">Speciality</li>
                    <li id="li_grade" onclick="click_content_grade();">Grade</li>
                    <li id="li_task" onclick="click_content_task();">Task</li>
                    <li id="li_team" onclick="click_content_team();">Team</li>
                </ul>
            </div>
        </div>
        @*Content_admin*@
        <div class="col_right">
            <div class="content_col_right">
                @RenderBody()
            </div>
        </div>
    </div>
    @*script*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/canvasjs.min.js"></script>
    <script src="~/js/About_Us.js"></script>
    <script src="~/js/Client_management.js"></script>
    <script src="~/js/Grade.js"></script>
    <script src="~/js/My_Search.js"></script>
    <script src="~/js/recruitment.js"></script>
    <script src="~/js/Role.js"></script>
    <script src="~/js/Service.js"></script>
    <script src="~/js/Speciality.js"></script>
    <script src="~/js/Trainning.js"></script>
    <script src="~/js/phuocc.js"></script>
    <script src="~/js/team.js"></script>
    <script src="~/js/task.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("content_chart_employees", {
                width: 1500,
                height: 710,
                title: {
                    text: "My Chart Employee Soil"
                },
                data: [
                    {
                        // Change type to "doughnut", "line", "splineArea", etc.
                        type: "line",
                        dataPoints: [
                            { label: "security", y: 10 },
                            { label: "electrical repairs", y: 15 },
                            { label: "repair water", y: 25 },
                            { label: "Dog", y: 30 },
                            { label: "bodyguard", y: 28 },
                            { label: "bodyguard", y: 47 },
                            { label: "bodyguard", y: 34 }
                        ]
                    }
                ]
            });
            chart.render();
        }
    </script>
    <script>
        CKEDITOR.replace("where_aboutus", {
            height: 80,
            width: 600,
        });
        CKEDITOR.replace("when_aboutus", {
            height: 80,
            width: 600,
        });
        CKEDITOR.replace("how_aboutus", {
            height: 80,
            width: 600,
        });
        CKEDITOR.replace("detail_trainning", {
            height: 150,
            width: 375,
        });
        CKEDITOR.replace("description_service", {
            height: 150,
            width: 375,
        });
    </script>
    @RenderSection("script_admin", required: false)
</body>
</html>
<script>
    var count_error = 0;
    var count = 0;
    var empty_username = true;
    function clear_form_feedback() {
    $('#search_feedback').val("");
    }
    function clear_form_view_about_us() {
    $('#search_view_about_us').val("");
    }
    function clear_form_view_employee() {
        $('#search_employee').val("");
    }
    function clear_form_employee() {
        var listProperty = ["name", "age", "weight", "height", "address", "phone", "email", "department", "role", "grade", "achivement", "speciality", "price", "aboutme", "username", "password", "status", "confirm", "image"];
        for (var i = 0; i < listProperty.length; i++) {
            var name = '#input_' + listProperty[i];
            $(name).val("");
        }
        $('#employee_status').prop("checked", false);
    }
    function clear_form_about_us() {
        CKEDITOR.instances.where_aboutus.setData('');
        CKEDITOR.instances.when_aboutus.setData('');
        CKEDITOR.instances.how_aboutus.setData('');
    }
    function clear_form_region() {
        $('#name_region').val("");
        $('#search_region').val("");
        $('#status_region').prop("checked", false);

    }
    function clear_form_role() {
        $('#name_role').val("");
        $('#search_role').val("");
        $('#status_role').prop("checked", false);
    }
    function clear_form_grade() {
        $('#name_grade').val("");
        $('#search_grade').val("");
        $('#status_grade').prop("checked", false);
    }
    function clear_form_speciality() {
        $('#name_speciality').val("");
        $('#search_speciality').val("");
        $('#status_speciality').prop("checked", false);
    }
    function clear_form_department() {
        $('#name_department').val("");
        $('#search_department').val("");
        $('#combobox_department').val("none");
        $('#status_department').prop("checked", false);
    }
    function clear_form_achivement() {
        $('#name_achivement').val("");
        $('#search_achivement').val("");
        $('#name_service').prop("checked", false);

    }
    function clear_form_service() {
        $('#name_service').val("");
        $('#search_service').val("");
        $('#price_service').val("");
        $('#status_service').prop("checked", false);
        CKEDITOR.instances.description_service.setData('');
    }
    function clear_form_trainning() {
        $('#name_trainning').val("");
        document.getElementById('Choose_Duration').selected = "true";
        $('#trainer_trainning').val("");
        CKEDITOR.instances.detail_trainning.setData('');
        $('#search_trainning').val("");
        $('#status_trainning').prop("checked", false);
    }
    function clear_label_service() {
        $('#name_service-error').css('display', 'none');
        $('#price_service-error').css('display', 'none');
        $('#description_service-error').css('display', 'none');
        CKEDITOR.instances.description_service.setData('');
    }
    function clear_label_role() {
        $('#name_role-error').css('display', 'none');
    }
    function clear_label_speciality() {
        $('#name_speciality-error').css('display', 'none');
    }
    function clear_label_grade() {
        $('#name_grade-error').css('display', 'none');
    }
    function clear_label_trainning() {
        $('#name_trainning-error').css('display', 'none');
        $('#detail_trainning-error').css('display', 'none');
        $('#select_duration-error').css('display', 'none');
        $('#trainer_trainning-error').css('display', 'none');
    }

    function click_content_team() {
        clear_label_task();
        clear_form_task();
        load_combobox_region();
        load_combobox_service();
        $("#li_team").css('background-color', '#ffffff');
        $("#li_team").css('color', '#000000');
        $('#content_team').css('display', 'block');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_employee').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_task() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_combobox_request();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $('#content_task').css('display', 'block');
        $("#li_task").css('background-color', '#ffffff');
        $("#li_task").css('color', '#000000');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_employee').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_employee() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        clear_label_team();
        clear_form_team();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#ffffff');
        $("#li_employee").css('color', '#000000');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_employee').css('display', 'block');
        $('#view_table_employee').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_view_employee() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $('#view_table_employee').css('display', 'block');
        $('#content_employee').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_feedback() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#ffffff');
        $("#li_feedback").css('color', '#000000');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_feedback').css('display', 'block');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_about_us() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#ffffff');
        $("#li_about_us").css('color', '#000000');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'block');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_Region() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#ffffff');
        $("#li_region").css('color', '#000000');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'block');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();

    }
    function click_content_Department() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#ffffff');
        $("#li_department").css('color', '#000000');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'block');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_service() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        load_data_service();
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#ffffff');
        $("#li_service").css('color', '#000000');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'block');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_client_management() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_data_history();
        load_data_orderdetail();
        load_data_client();
        load_data_recruitment();
        $('#display_content_Transaction_history').css('display', 'none');
        $('#display_content_Comment').css('display', 'none');
        $('#span_Transaction_History').css('background', '#dddddd');
        $('#span_comment').css('background', '#dddddd');
        $('#span_Check_service').css('background', 'black');
        $('#display_content_Check_service').css('display', 'block');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#ffffff');
        $("#li_client_management").css('color', '#000000');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'block');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_trainning() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_data_trainning();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#ffffff');
        $("#li_trainning").css('color', '#000000');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'block');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function view_about_us() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_data_about_us();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'block');
        $('#content_chart_employee').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_chart_employee() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#ffffff');
        $("#li_chart").css('color', '#000000');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'block');
        $('#content_chart_employee').css('width', '99%');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_role() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_data_role();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#ffffff');
        $("#li_role").css('color', '#000000');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'block');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_department();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_grade();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_grade() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_data_grade();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#ffffff');
        $("#li_grade").css('color', '#000000');
        $("#li_speciality").css('background-color', '#000000');
        $("#li_speciality").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'block');
        $('#content_speciality').css('display', 'none');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_department();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_speciality();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function click_content_speciality() {
        clear_label_team();
        clear_form_team();
        clear_label_task();
        clear_form_task();
        load_data_speciality();
        $("#li_team").css('background-color', '#000000');
        $("#li_team").css('color', '#ffffff');
        $('#content_team').css('display', 'none');
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_client_management").css('background-color', '#000000');
        $("#li_client_management").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $("#li_role").css('background-color', '#000000');
        $("#li_role").css('color', '#ffffff');
        $("#li_grade").css('background-color', '#000000');
        $("#li_grade").css('color', '#ffffff');
        $("#li_speciality").css('background-color', '#ffffff');
        $("#li_speciality").css('color', '#000000');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_client_management').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        $('#content_role').css('display', 'none');
        $('#content_grade').css('display', 'none');
        $('#content_speciality').css('display', 'block');
        $('#content_task').css('display', 'none');
        $("#li_task").css('background-color', '#000000');
        $("#li_task").css('color', '#ffffff');
        clear_form_about_us();
        clear_form_department();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        clear_form_role();
        clear_form_grade();
        clear_label_service();
        clear_label_grade();
        clear_label_role();
        clear_label_speciality();
        clear_label_trainning();
        clear_form_order();
        clear_label_orders();
    }
    function clear_table_region() {
        $('#table_region').html("");
    }
    @*Function delete*@
    function detele_region(obj) {
        var row = $(obj).attr("data-row");
        var id = $(obj).attr('data-id');
        $.ajax({
            url: "http://localhost:44383/api/regions/" + id,
            type: "DELETE",
            contentType: "application/json",
            success: function (data) {
                alert('Delete Success');
                $('#region_row_' + row).remove();
            },
            error: function () {
                alert('Delete Fail');
            }
        })
    }
    function detele_feedback(obj) {
        var row = $(obj).attr("data-row");
        var id = $(obj).attr('data-id');
        $.ajax({
            url: "http://localhost:44383/api/feedbacks/" + id,
            type: "DELETE",
            contentType: "application/json",
            success: function (data) {
                alert('Delete Success');
                $('#feedback_row_' + row).remove();
            },
            error: function () {
                alert('Delete Fail');
            }
        })
    }
    function detele_department(obj) {
        var row = $(obj).attr("data-row");
        var id = $(obj).attr('data-id');
        alert(id);
        $.ajax({
            url: "http://localhost:44383/api/departments/" + id,
            type: "DELETE",
            contentType: "application/json",
            success: function (data) {
                alert('Delete Success');
                $('#department_row_' + row).remove();
            },
            error: function () {
                alert('Delete Fail');
            }
        })
    }
    @*Function add*@
    function add_employee() {
        var img = $('#input_image').val();
        img = img.substring(img.lastIndexOf("\\") + 1, img.length);
        checkEmpty_employee();
        if (count_error == 0) {
            var name = $('#input_name').val();
            var age = $('#input_age').val();
            var weight = $('#input_weight').val();
            var height = $('#input_height').val();
            var address = $('#input_address').val();
            var phone = $('#input_phone').val();
            if (phone.length == 10) {
                var email = $('#input_email').val();
                if (ValidateEmail(email) == true) {
                    var department = $('#input_department').val();
                    var role = $('#input_role').val();
                    var grade = $('#input_grade').val();
                    var achivement = $('#input_achivement').val();
                    var speciality = $('#input_speciality').val();
                    var price = $('#input_price').val();
                    var aboutme = $('#input_aboutme').val();
                    var usrname = $('#input_username').val();
                    var pwd = $('#input_password').val();
                    var confirm = $('#input_confirm').val();
                    if (pwd == confirm) {
                        var employee_status = $('#employee_status').prop('checked');
                        var emp = new Object();
                        var listProperty = ["name", "age", "weight", "height", "address", "phone", "email", "department", "role", "grade", "achivement", "speciality", "price", "aboutme", "usrname", "pwd", "status"];
                        var listData = [name, age, weight, height, address, phone, email, department, role, grade, achivement, speciality, price, aboutme, usrname, pwd, employee_status];
                        for (var i = 0; i < listData.length; i++) {
                            emp[listProperty[i]] = listData[i];
                        }
                        var q = JSON.stringify(emp);
                        $.ajax({
                            type: 'Post',
                            url: 'http://localhost:44383/api/employees',
                            data: q,
                            contentType: "application/json; charset=utf8",
                            dataType: 'json',
                            success: function (data) {
                                @*      UPLOAD IMG   *@
                                var empid = data.id;
                                var input = document.getElementById('input_image');
                                var files = input.files;
                                var formData = new FormData();

                                for (var i = 0; i != files.length; i++) {
                                    formData.append("files", files[i]);
                                }

                                $.ajax({
                                    url: "UploadImageEmp",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    type: "POST",
                                    success: function (data) {
                                        UploadImgEmp(img, empid);
                                        @*  ADD EMPLOYEE SUCCESS   *@
                                        alert("Success");
                                        load_data_employee();
                                        clear_form_employee();
                                    }
                                })
                            },
                            error: function (data) {
                                alert("Error");
                            }
                        });
                    } else {
                        var error_cf = "<span id='error_confirm' style='color: red; font-size: 13px'>Confirm incorrect!!</span>";
                        $('#error_confirm').replaceWith(error_cf);
                        setTimeout(function () {
                            $('#error_confirm').replaceWith("<span id='error_confirm'></span>");
                        }, 2000)
                    }
                }
            } else {
                $('#error_phone').replaceWith("<span id='error_phone' style='color:red; font-size: 13px;'>Phone is not a valid</span>");
            }
        } else {
            alert("Please enter full information");
            count_error = 0;
        }

    }
    function UploadImgEmp(img, idemp) {
        var image = new Object();
        image.path = img;
        image.employee = idemp;
        var q = JSON.stringify(image);
        $.ajax({
            type: 'post',
            url: "http://localhost:44383/api/images",
            data: q,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            success: function (data) {

            }
        })
    }
</script>

<script type="text/javascript">
    function btn_save_region() {
        var infor_region = new Object();
        var name_region = $("#name_region").val();
        var status = $("#status_region").prop("checked");
        infor_region.name = name_region;
        if (status == true) {
            infor_region.status = true;
        } else {
            infor_region.status = false;
        }
        var q = JSON.stringify(infor_region);
        $.ajax({
            type: 'Post',
            url: 'http://localhost:44383/api/regions',
            data:q,
            contentType: "application/json; charset=utf8",
            dataType: 'json',
            success: function (data) {
                alert("Success");
                load_data_region();
                clear_form_region();
            },
            error: function (data) {
                alert("Error");
                clear_form_region();
            }
        });
    }
    function add_department() {
        var infor_department = new Object();
        var name_department = $('#name_department').val();
        var region = $("#combobox_department").val();
        var status = $("#status_department").prop("checked");
        if (name_department != "" && region != "none") {
            region = region;
            infor_department.name = name_department;
            infor_department.region = region;
            infor_department.status = status;

            var q = JSON.stringify(infor_department);
            $.ajax({
                type: 'Post',
                url: 'http://localhost:44383/api/departments',
                data: q,
                contentType: "application/json; charset=utf8",
                dataType: 'json',
                success: function (data) {
                    alert("Success");
                    load_data_departments();
                    clear_form_department();
                },
                error: function (data) {
                    alert("Error");
                    clear_form_department();
                }
            });
        } else {
            alert("Please enter full information");
        }

    }
    $(document).ready(function () {
        load_data_feedbacks();
        load_data_region();
        load_data_departments();
        load_data_employee();

        load_cb("department");
        load_cb("grade");
        load_cb("role");
        load_cb("speciality");

    });



  @*try data*@
  function load_data_region () {
        $.ajax({
            type: 'Get',
            url: 'http://localhost:44383/api/regions',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                @* alert(JSON.stringify(data));*@
                var rows = "<tbody id='table_region'>";
                var row = 0;
                $.each(data, function (index, value) {
                    rows += "<tr id='region_row_" + row + "'>"
                        + "<td class=''>" + value.name + "</td>"
                        + "<td class=''>" + value.status + "</td>"
                        + "<td>"
                        + "<div class='div_icon_delete'>"
                        + "<span><i class='fa fa-trash' onclick='detele_region(this);' data-row='" + row + "' data-id='" + value.id + "'></i></span>"
                        + "</div>"
                        + "<div class='div_icon_edit'>"
                        + "<span><i class='fa fa-edit'></i></span>"
                        + "</div>"
                    "</td>"
                        + "</tr>";
                    row++
                });
                rows += "</tbody>";
                $('#table_region').replaceWith(rows);
                load_data_departments();
            },
            error: function (data) {
                alert("Error");
            }
        })
    };
    function load_data_feedbacks() {
        $.ajax({
            type: 'get',
            url: 'http://localhost:44383/api/feedbacks',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                var rows = "<tbody id='table_feedback'>";
                var row = 0;
                $.each(data, function (index, value) {
                    rows += "<tr id='feedback_row_" + row + "'>"
                        + "<td class=''>" + value.name + "</td>"
                        + "<td class=''>" + value.subject + "</td>"
                        + "<td class=''>" + value.detail + "</td>"
                        + "<td class=''>" + value.status + "</td>"
                        + "<td>"
                        + "<div class='div_icon_delete'>"
                        + "<span><i class='fa fa-trash' onclick='detele_feedback(this);' data-row='" + row + "' data-id='" + value.id + "'></i></span>"
                        + "</div>"
                        + "<div class='div_icon_edit'>"
                        + "<span><i class='fa fa-edit'></i></span>"
                        + "</div>"
                    "</td>"
                        + "</tr>";
                    row++
                });
                rows += "</tbody>";
                $('#table_feedback').replaceWith(rows);
            },
        })
    }
    function load_data_departments() {
        $.ajax({
            type: 'Get',
            url: 'http://localhost:44383/api/regions',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                @* alert(JSON.stringify(data));*@
                var rows = "<select id='combobox_department'><option value='none'>Choose Region</option>";

                $.each(data, function (index, value) {
                    rows += "<option value='" + value.id + "'>" + value.name + "</option>";
                });
                rows += "</select>";
                $('#combobox_department').replaceWith(rows);
            },
            error: function (data) {
                alert("Error");
            }
        })
        $.ajax({
            type: 'get',
            url: 'http://localhost:44383/api/departments',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                var rows = "<tbody id='table_department'>";
                var row = 0;
                $.each(data, function (index, value) {
                    var status = "";
                    value.status == true ? status += "Available" : status += "Unvailable";
                    rows += "<tr id='department_row_" + row + "'>"
                        + "<td class=''>" + value.name + "</td>"
                        + "<td class=''>" + value.region + "</td>"
                        + "<td class=''>" + status + "</td>"
                        + "<td>"
                        + "<div class='div_icon_delete'>"
                        + "<span><i class='fa fa-trash' onclick='detele_department(this);' data-row='" + row + "' data-id='" + value.id + "'></i></span>"
                        + "</div>"
                        + "<div class='div_icon_edit'>"
                        + "<span><i class='fa fa-edit'></i></span>"
                        + "</div>"
                    "</td>"
                        + "</tr>";
                    row++
                });
                rows += "</tbody>";
                $('#table_department').replaceWith(rows);
            },
        })
    }
    function load_data_employee() {
        $.ajax({
            type: 'get',
            url: 'http://localhost:44383/api/employees',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                var rows = "<tbody id='table_employee'>";
                var row = 0;
                $.each(data, function (index, value) {
                    var status = "";
                    value.status == true ? status += "Available" : status += "Unvailable";
                    rows += "<tr id='employee_row_" + row + "'>"
                        + "<td class='' style='width:200px'>" + value.name + "</td>"
                        + "<td class='' style='width:70px'>" + value.age + "</td>"
                        + "<td class='' style='width:70px'> " + value.weight + "</td>"
                        + "<td class='' style='width:70px'> " + value.height + "</td>"
                        + "<td class='' style='width:200px'> " + value.phone + "</td>"
                        + "<td class='' style='width:250px'> " + value.email + "</td>"
                        + "<td class='' style='width:200px'> " + value.address + "</td>"
                        + "<td class='' style='width:100px'> " + value.department + "</td>"
                        + "<td class='' style='width:100px'> " + value.role + "</td>"
                        + "<td class='' style='width:100px'> " + value.grade + "</td>"
                        + "<td class='' style='width:200px'> " + value.achivement + "</td>"
                        + "<td class='' style='width:100px'> " + value.speciality + "</td>"
                        + "<td class='' style='width:70px'> " + value.price + "</td>"
                        + "<td class='' style='width:200px'> " + value.aboutme + "</td>"
                        + "<td class='' style='width:100px'> " + value.usrname + "</td>"
                        + "<td class='' style='width:70px'> " + value.status + "</td>"
                        + "<td style='width:100px'>"
                        + "<div class='div_icon_delete'>"
                        + "<span><i class='fa fa-trash' onclick='detele_employee(this);' data-row='" + row + "' data-id='" + value.id + "'></i></span>"
                        + "</div>"
                        + "<div class='div_icon_edit'>"
                        + "<span><i class='fa fa-edit'></i></span>"
                        + "</div>"
                    "</td>"
                        + "</tr>";
                    row++
                });
                rows += "</tbody>";
                $('#table_employee').replaceWith(rows);
            },
        })
    }
    function load_cb(name) {
        if (name == "speciality") {
            var url = 'http://localhost:44383/api/specialities';
            $.ajax({
                type: 'get',
                url: url,
                dataType: 'json',
                contentType: "application/json; charset=utf8",
                success: function (data) {
                    var rows = "<select id='input_" + name + "'><option value=''>Choose " + name + "</option>"
                    $.each(data, function (index, value) {
                        rows += "<option value='" + value.id + "'>" + value.name + "</option>"
                    });
                    rows += "</select>";
                    var input = '#input_' + name;
                    $(input).replaceWith(rows);
                }
            })
        } else {
            var url = 'http://localhost:44383/api/' + name + 's';
            $.ajax({
                type: 'get',
                url: url,
                dataType: 'json',
                contentType: "application/json; charset=utf8",
                success: function (data) {
                    var rows = "<select id='input_" + name + "'><option value=''>Choose " + name + "</option>"
                    $.each(data, function (index, value) {
                        rows += "<option value='" + value.id + "'>" + value.name + "</option>"
                    });
                    rows += "</select>";
                    var input = '#input_' + name;
                    $(input).replaceWith(rows);
                }
            })
        }

    }
    function checkEmpty_employee() {
        var list = ["name", "age", "weight", "height", "address", "phone", "email", "department", "role", "grade", "achivement", "speciality","price", "aboutme", "username", "password", "confirm", "image"];
        for (var i = 0; i < list.length; i++) {
            var error = "<span style='color: red;' id='error_" + list[i] + "'> *</span>";
            var correct = "<span id='error_" + list[i] + "'></span>";
            var name_input = '#input_' + list[i];
            if ($(name_input).val() == "" || $(name_input).val() == "none") {
                var content = "#error_" + list[i];
                $(content).replaceWith(error);
                count_error += 1;
            } else {
                var content = "#error_" + list[i];
                $(content).replaceWith(correct);
            }
        }

    }

    function check_username(username) {
        var count = 0;
        $.ajax({
            type: 'get',
            url: 'http://localhost:44383/api/employees',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                $.each(data, function (index, value) {
                    if (value.usrname == username) {
                        check_username == false;
                        count++;
                    }
                });
            }
        })
        return count;
    }
    @*Function check*@
    $('#input_age').keyup(function () {
        var error = "<span style='color: red; font-size: 12px;' id='error_age'>age must be less than 45 </span>";
        var error18 = "<span style='color: red; font-size: 12px;' id='error_age'>age must be more than 18 </span>";
        var correct = "<span style='color: red; ' id='error_age'></span>";
        $('#error_age').replaceWith(correct);
        var age = parseInt($('#input_age').val());
        if (age < 18) {
            $('#error_age').replaceWith(error18);
            setTimeout(function () {
                if (parseInt($('#input_age').val()) < 18) {
                    $('#input_age').val("");
                }
            }, 2000)
        }
        if (age > 45) {
            $('#error_age').replaceWith(error);
            setTimeout(function () {
                if (parseInt($('#input_age').val()) > 45) {
                    $('#input_age').val("");
                }
            },2000)
        }
    })
    $('#input_username').keyup(function () {
        var count = 0;
        var username = $('#input_username').val();
        $.ajax({
            type: 'get',
            url: 'http://localhost:44383/api/employees',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                $.each(data, function (index, value) {
                    if (value.usrname == username) {
                        count++;
                    }
                });
                if (count > 0) {
                    setTimeout(function () {
                        $('#error_username').replaceWith("<span id='error_username' style='color: red; font-size: 13px;'>Username already exits</span>");
                    }, 600)
                } else {
                    $('#error_username').replaceWith("<span id='error_username' style='color: red; font-size: 13px;'></span>");
                }
            }
        })
    })

    $('#input_email').keyup(function () {
        var count = 0;
        var email = $('#input_email').val();
        if (email == "") {
            $('#error_email').replaceWith("<span id='error_email'></span>");
        }
        if (ValidateEmail(email) == true) {
            $.ajax({
                type: 'get',
                url: 'http://localhost:44383/api/employees',
                dataType: 'json',
                contentType: "application/json; charset=utf8",
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (value.email == email) {
                            count++;
                        }
                    });
                    if (count > 0) {
                        setTimeout(function () {
                            $('#error_email').replaceWith("<span id='error_email' style='color: red; font-size: 13px;'>Email already exits</span>");
                        }, 600)
                    } else {
                        $('#error_email').replaceWith("<span id='error_email' style='color: red; font-size: 13px;'></span>");
                    }
                }
            })
        }
    })

    $('#input_phone').keyup(function () {
        var phone = $('#input_phone').val();
        checkPhone(phone);
    })
</script>