@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Employee Page";
    Layout = "_layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }
    /* Style tab links */
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        outline: none !important;
        width: 50%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        display: none;
        padding: 100px 0px;
        height: 100%;
    }

    .pagination {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 12px 20px;
            font-size: 20px;
            text-decoration: none;
            cursor: pointer;
        }

        .pagination li.active {
            background-color: dodgerblue;
            color: white;
            border-radius: 50%;
        }

        .pagination li:hover:not(.active) {
            background-color: #ddd;
            border-radius: 50%;
        }

    .searchBox {
        position: relative;
        padding-bottom: 30px;
        text-align: center;
    }

        .searchBox input {
            padding: 10px;
            padding-left: 50px;
            border: none;
            font-size: 18px;
            position: relative;
            background: #f1f1f1;
            outline: none;
            width: 50%;
            border-radius: 30px;
            box-shadow: 1px 2px 3px #ddd;
        }

        .searchBox span {
            position: relative;
            z-index: 1;
            left: 40px;
            top: 0;
            fill: currentcolor;
        }
</style>

<div class="container">
    <button class="tablink" onclick="openPage('Information', this)" id="defaultOpen"> Information </button>
    <button class="tablink" onclick="openPage('TaskManager', this)"> My Task </button>
    <div id="Information" class="tabcontent">
        <div class="user_info">
            <h2> User Profile </h2>
            <div class="user_profile_content">
                <div class="user_profile_avatar">
                    <img src="../img/IMG_1939.JPG" id="avatar"/>
                </div>
                <div class="user_profile_header">
                    <h4 id="name"> Nguyen Quoc Trung </h4><small style="padding:0px 10px 5px;" id="role"> hien role len day </small>
                </div>
                <p id="about"> hien introduce yourself (about me ) len day</p>
            </div>
        </div>
        <div class="user_info">
            <h2> User Information </h2>
            <div class="user_info_content">
                <div class="formBox">
                    <div class="formBox">
                        <div class="inputBox-2 w50">
                            <input type="text" value="20" id="age" disabled />
                            <label> Age  </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="text" value="70kg" id="weight" disabled />
                            <label> Weight  </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="text" value="1.8m" id="height" disabled />
                            <label> Height  </label>
                        </div>

                        <div class="inputBox-2 w50">
                            <input type="tel" value="123456789" id="phone" disabled />
                            <label> Phone No. </label>
                        </div>
                        <div class="inputBox-2 w50">
                            <input type="email" value="trungchicken@gmail.com" id="email" disabled />
                            <label>  Email  </label>
                        </div>

                        <div class="inputBox-2 w100">
                            <textarea disabled id="achivement"> asdsadsdasdsd </textarea>
                            <label> Achivement </label>
                        </div>
                        <div class="inputBox-2 w100">
                            <textarea disabled id="address"> 22 phan liem </textarea>
                            <label> Address  </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var username = sessionStorage.getItem('inforlogin');
    if (username == null) {
        window.location.href = "@Url.Action("index","login")";
    }
    if (username != "") {
        $('#Information').css('display', 'block');
        $.ajax({
            type: 'get',
            url: 'http://localhost:54396/api/employees/getUsername/' + username,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, value) {
                    var linkImg = '../img/EmployeeImg/' + value.image;
                    $('#avatar').prop('src', linkImg);
                    $('#name').html(value.name);
                    $('#role').html(value.role);
                    $('#about').html(value.aboutme);
                    $('#weight').val(value.weight);
                    $('#height').val(value.height);
                    $('#email').val(value.email);
                    $('#phone').val(value.phone);
                    $('#achivement').val(value.achivement);
                    $('#address').val(value.address);
                });
            }
        })
    }

    <script>*@