@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Electronic Security System";
    Layout = "_Layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }

    .ElectronicSecurity {
        background: url(../img/cctv.jpg);
        height: 50vh;
        background-size: 100% 100%;
    }
    .ElectronicSecurity-title-background {
        position: relative;
        height: 100%;
        background: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

    .ElectronicSecurity-title {
        position: relative;
        top: 50%;
        justify-content: center;
        transform: translate(0%, -50%);
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }
        .ElectronicSecurity-title h1 {
            font-size: 70px;
            filter: drop-shadow(2px 0px 1px #fff);
        }

    .ElectronicSecurity-contact {
        background: url(../img/cctv2.jpg);
        height: 50vh;
        background-size: 100% 100%;
    }
    .ElectronicSecurity-contact-title-background {
        position: relative;
        height: 100%;
        background: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

    .ElectronicSecurity-contact-title {
        position: relative;
        top: 50%;
        justify-content: center;
        transform: translate(0%, -50%);
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

        .ElectronicSecurity-contact-title h1 {
            font-size: 70px;
            filter: drop-shadow(2px 0px 1px #fff);
        }
</style>
<div style="padding:10px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Our Services</li>
            <li class="breadcrumb-item active" aria-current="page"> Electronic Security System </li>
        </ol>
    </nav>

    <div class="ElectronicSecurity">
        <div class="ElectronicSecurity-title-background">
            <div class="ElectronicSecurity-title">
                <h1> CCTV </h1>
                <h5>
                    We provide customized security solutions to help
                    protect your people and property.
                </h5>
            </div>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="ElectronicSecurity-content">
        <h3>CCTV systems are recognised in business as a fantastic measure against crime and anti-social behaviour.</h3>
        <p>
            Whilst CCTV systems are a great deterrent to crime, they are ultimately only as good as security guards monitoring them.

            Our experienced security operatives can determine whether any or all alerts are genuine security threats or just simply a false alarm. Should action need to be taken, we can deal with the matter in hand through Manned Guarding or Mobile Patrols already on site, or our Alarm Response Service.

            Our operatives will log any activity and provide you with detailed reports of any incidents, giving you that extra peace of mind that the security of your business is very capable hands.

            To arrange for Carter Security Solutions to monitor the CCTV at your business, please get in touch.

        </p>
        <h5>
            If you have further questions about CCTV, such as how to choose the correct system for your business, or how to determine the placement of your CCTV cameras around your site, Carter Consultancy Services will be able to support you. With over 10 years of experience in the security industry, Nick Carter can conduct a thorough risk assessment of your business premises and advise the best CCTV system to suit your needs. Please get in touch to arrange your consultation.
        </h5>
    </div>
</div>
<div class="ElectronicSecurity-contact">
    <div class="ElectronicSecurity-contact-title-background">
        <div class="ElectronicSecurity-contact-title">
            <h1> Making Your Life Safer </h1>
            <a href="../Contact/Index" class="myBtn"> Contact Us</a>
        </div>
    </div>
    
</div>

