@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        padding: 15px;
        position: sticky;
        background: black;
    }
</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>
    <div class="contact">
        <div class="contact-title">
            <h1> Contact Us</h1>
        </div>
    </div>
    <div id="contact-content " class="contact-content">
        <div class="contact-header">
            <h1> Contact Info </h1>
            <ul>
                <li><a href="#mapsite"><i class="bi bi-geo-alt" style="color:black"></i> 22 Phan Liem <br />Phuong Da Kao, D.1, Ho Chi Minh city </a></li>
                <li><a href="#"><i class="bi bi-phone" style="color:black"></i> 0901023456</a></li>
                <li><a href="#"><i class="bi bi-inbox" style="color:black"></i> yoursafety@starsecurity.com </a></li>
            </ul>
            <div class="myMedia ">
                <ul>
                    <li><a href="#"> <i class="bi bi-facebook" style="color: #3b5998;"></i></a></li>
                    <li><a href="#"> <i class="bi bi-twitter" style="color: #1DA1F2;"></i></a></li>
                    <li><a href="#"> <i class="bi bi-instagram" style="color: #E1306C"></i></a></li>
                    <li><a href="#"> <i class="bi bi-linkedin" style="color: #2867B2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="contact-body">
            <h2 style="font-size:40px; color:#3e69dd; filter:drop-shadow(0px 1px 1px #3e69dd)">Send Us</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="" id="firstname" required />
                    <span> First Name</span>
                </div>
                <div class="inputBox w50 ">
                    <input type="text" name="" id="lastname" required />
                    <span> Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="tel" name="" id="phone" required />
                    <span>Phone No.</span>
                </div>
                <div class="inputBox w50">
                    <input type="email" name="" id="email" required />
                    <span> Email </span>
                </div>
                <div class="textBox" style="width:100%; padding-bottom:20px;">
                    <label> Please choose service :</label>
                    <select class="selectBox" name="service" id="service">
                        <option value="none"> Choose Service </option>
                        <option value="Manned Guarding"> Manned Guarding </option>
                        <option value="Cash Service"> Cash Service </option>
                        <option value="Electronic Security"> Electronic Security </option>
                        <option value="Recruitment & Training"> Recruitment & Training </option>
                    </select>
                </div>
                <div class="inputBox w100">
                    <textarea required id="message"></textarea>
                    <span> Message </span>
                </div>
                <div class="inputBox w100">
                    <input class="myBtn" type="button" id="submit"/>
                </div>
            </div>
        </div>
    </div>
    <div id="mapsite" class="mapsite ">
        <iframe class="mapsite" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2836021521402!2d106.69295791517486!3d10.789577392312616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cb4b06988b%3A0xed698da3b386547a!2zMjIgUGhhbiBMacOqbSwgxJBhIEthbywgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1621302201935!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#submit').click(function () {
        var firstname = $('#firstname').val();
        var lastname = $('#lastname').val();
        var phone = $('#phone').val();
        var message = $('#message').val();
        var email = $('#email').val();
        
        var service = $('#service').val();
        if (firstname != "" && lastname != "" && phone != "" && message != "" && email != "" && service != "none") {
            var idclient = 0;
            var name = firstname + lastname;
            $.ajax({
                type: 'get',
                url: 'http://localhost:54396/api/clients',
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function(index, value) {
                        if (value.email == email) {
                            idclient = value.id;
                        }
                    });
                    if (idclient == 0) {
                        var client = new Object();
                        client.name = firstname +" "+ lastname;
                        client.phone = phone;
                        client.email = email;
                        client.employee = 2;
                        client.address = null;
                        client.status = true;

                        var q = JSON.stringify(client);

                        $.ajax({
                            type: 'post',
                            url: 'http://localhost:54396/api/clients',
                            contentType: 'application/json; charset=utf8',
                            dataType: 'json',
                            data: q,
                            success: function (data) {
                                var id = parseInt(data.id);

                                var request = new Object();
                                request.service = service;
                                request.message = message;
                                request.client = id;
                                request.status = true;

                                var re = JSON.stringify(request);
                                $.ajax({
                                    type: 'post',
                                    url: 'http://localhost:54396/api/requests',
                                    contentType: 'application/json; charset=utf8',
                                    dataType: 'json',
                                    data: re,
                                    success: function (data) {
                                        send_mail(email, firstname, lastname, service, message);
                                        alert("We will contact for you soon!!");
                                        $('#firstname').val("");
                                        $('#lastname').val("");
                                        $('#email').val("");
                                        $('#phone').val("");
                                        $('#service').val("none");
                                    }
                                })
                            }
                        })
                    } else {
                        var request = new Object();
                        request.service = service;
                        request.message = message;
                        request.client = idclient;
                        request.status = true;

                        var re = JSON.stringify(request);
                        $.ajax({
                            type: 'post',
                            url: 'http://localhost:54396/api/requests',
                            contentType: 'application/json; charset=utf8',
                            dataType: 'json',
                            data: re,
                            success: function (data) {
                                send_mail(email, firstname, lastname, service, message);
                                alert("We will contact for you soon!!");
                                $('#firstname').val("");
                                $('#lastname').val("");
                                $('#email').val("");
                                $('#phone').val("");
                                $('#message').val("");
                                $('#service').val("none");
                            }
                        })
                    }
                }
            })
            
        } else {
            alert("Please enter full information");
        }
        
    })
    function send_mail(email, firstname, lastname,service, message) {
        $.ajax({
            method: 'post',
            url: '@Url.Action("Send_Mail")',
            data: { email: email, firstname: firstname, lastname: lastname, service: service, message: message }
        }).done(function (data) {
            
        });
    }
</script>