@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }
    
</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>
    <div class="contact">
        <div class="contact-title">
            <h1> Contact Us</h1>
        </div>
    </div>
    <div id="contact-content " class="contact-content fade ">
        <div class="contact-header">
            <h1> Contact Info </h1>
            <ul>
                <li><a href="#mapsite"><i class="bi bi-geo-alt" style="color:black"></i> 22 Phan Liem <br />Phuong Da Kao, D.1, Ho Chi Minh city </a></li>
                <li><a href="#"><i class="bi bi-phone" style="color:black"></i> 0901023456</a></li>
                <li><a href="#"><i class="bi bi-inbox" style="color:black"></i> yoursafety@starsecurity.com </a></li>
            </ul>
            <div class="media ">
                <ul>
                    <li><a href="#"> <i class="bi bi-facebook" style="color: #3b5998;"></i></a></li>
                    <li><a href="#"> <i class="bi bi-twitter" style="color: #1DA1F2;"></i></a></li>
                    <li><a href="#"> <i class="bi bi-instagram" style="color: #E1306C"></i></a></li>
                    <li><a href="#"> <i class="bi bi-linkedin" style="color: #2867B2"></i></a></li>
                </ul>
            </div>
        </div>
        
        <div class="contact-body">
            <h2 style="font-size:40px; color:#3e69dd; filter:drop-shadow(0px 1px 1px #3e69dd)" >Send Us</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input  type="text" name="" required />
                    <span> First Name</span>
                </div>
                <div class="inputBox w50 ">
                    <input  type="text" name="" required />
                    <span> Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input  type="tel" name="" required />
                    <span>Phone No.</span>
                </div>
                <div class="inputBox w50">
                    <input  type="email" name="" required />
                    <span> Email </span>
                </div>
                <div class="textBox" style="width:100%; padding-bottom:20px;" >
                    <label> Please choose service :</label>
                    <select class="selectBox" name="service">
                        <option value="Manned Guarding"> Manned Guarding </option>
                        <option value="Cash Service"> Cash Service </option>
                        <option value="Electronic Security"> Electronic Security </option>
                        <option value="Recruitment & Training"> Recruitment & Training </option>
                    </select>

                </div>
                <div class="inputBox w100">
                    <textarea  required></textarea>
                    <span> Message </span>
                </div>
                <div class="inputBox w100">
                    <input class="myBtn" type="submit" />
                </div>
               

            </div>
 
        </div>
    </div>
    <div id="mapsite" class="mapsite ">
        <iframe class="mapsite" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2836021521402!2d106.69295791517486!3d10.789577392312616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cb4b06988b%3A0xed698da3b386547a!2zMjIgUGhhbiBMacOqbSwgxJBhIEthbywgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1621302201935!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>